@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #111827;
  font-family: var(--font-geist-sans);
  height: 100vh;
}

.apexcharts-legend-text {
  font-family: var(--font-geist-sans);
  font-size: 14px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scrollbar-color: rgba(0, 0, 0, 0);
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

span.ant-steps-icon {
  display: block;
  width: 40px !important;
  height: 40px !important;
}

div.ant-steps.ant-steps-vertical div.ant-steps-item-tail {
  inset-inline-start: 20px !important;
}

div.ant-steps.ant-steps-vertical div.ant-steps-item-tail::after {
  width: 2px !important;
}
input.ant-input.ant-otp-input {
  font-size: 42px !important;
}

div.ant-select-dropdown,
div.ant-picker-dropdown,
.szh-menu-container {
  z-index: 10001;
}

ul.ant-table-pagination {
  align-items: center;
  height: 100%;
  width: 100%;
  justify-self: center;
}

li.ant-pagination-prev,
li.ant-pagination-next {
  height: 100% !important;
}

li.ant-pagination-prev {
  margin-right: auto !important;
}

li.ant-pagination-next {
  margin-left: auto !important;
}

li.ant-pagination-disabled > button,
li.ant-pagination-disabled {
  cursor: not-allowed !important;
}

li.ant-pagination-item:hover {
  background-color: transparent !important;
  color: rgba(75, 78, 252, 1) !important;
}

li.ant-pagination-item-active {
  background-color: rgba(245, 245, 255, 0.5) !important;
  color: rgba(75, 78, 252, 1) !important;
  border-radius: 6px !important;
}

@media screen and (min-width: 500px) {
  ul.ant-table-pagination {
    width: 70%;
  }
}

@media screen and (min-width: 1024px) {
  ul.ant-table-pagination {
    width: 60%;
  }
}

@media screen and (min-width: 1440px) {
  ul.ant-table-pagination {
    width: 40%;
  }
}
