@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #111827;
  font-family: var(--font-geist-sans);
  height: 100vh;
}

.apexcharts-legend-text {
  font-family: var(--font-geist-sans);
  font-size: 14px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scrollbar-color: rgba(0, 0, 0, 0);
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

span.ant-steps-icon {
  display: block;
  width: 40px !important;
  height: 40px !important;
}

div.ant-steps.ant-steps-vertical div.ant-steps-item-tail {
  inset-inline-start: 20px !important;
}

div.ant-steps.ant-steps-vertical div.ant-steps-item-tail::after {
  width: 2px !important;
}
input.ant-input.ant-otp-input {
  font-size: 42px !important;
}
